.card{
    width:857px;
    height: 580px;
  margin-bottom:100px;
    
}

.card-header{
    height: 112px;
    background-color: #F2F8FC;
}

label{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:18px;
    line-height:21px;
    color:#000000;
    opacity:0.5;
}

table{
    border-collapse: separate;
    border-spacing: 0;
}

.mycheck{
    width:120px;
    height:40px;
    border:1px solid grey;
}

.status-active{
    background-color: blue;
    color:white;
}

input[type=checkbox]{
    visibility: hidden;
}

select.form-control:focus, input.form-control:focus{
    border:2px solid #3774AF;
    box-shadow: none;
}

button.form-control:focus{
    border:2px solid #3774AF;
}

#day, #male, #single{
    border-right:1px solid #ced4da;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

#month, #female, #married{
    border-left:none;
    border-right:1px solid #ced4da;
    border-radius:0%;
}

#year, #other, #widowed{
    border-left:none;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}


.card-footer{
    height:76px;
   
}   